---
layout: wrapper
title: Thoughts
description: Thinkings on life, technology and politics.
redirect_from:
  - /back-end/
  - /front-end/
  - /musings/
  - /politics/
  - /postsbytag/
  - /categories/
  - /dev/
---

<header class="title">
  <h1>Posts</h1>
  <p>by <a href="https://twitter.com/yesitsrajat">@yesitsrajat</a></p>
</header>

<form class="search-form" action="https://www.google.com/search">
  <input type="hidden" name="sitesearch" value="robinwinslow.uk">
  <input id="search-box" type="search" name="q">
  <label for="search-box">
    <button type="submit">Search posts</button>
  </label>
</form>

<form class="subscribe" action="https://gmail.us12.list-manage.com/subscribe/post?u=affe7ecfe1d8978dabb686f80&amp;id=7e01a1ef2c" method="post">
  <label for="email">Get notified about new posts</label>
  <div>
    <input type="email" name="EMAIL" id="email" placeholder="email">
    <input type="submit" value="Subscribe" name="subscribe" class="button">
  </div>
  <input class="hidden" type="text" name="b_affe7ecfe1d8978dabb686f80_7e01a1ef2c" tabindex="-1">
</form>

<ol class="posts">
  {% assign artices_newest_first = site.articles | reverse %}
  {% for article in artices_newest_first %}
    <li>
      <article>
        <a href="{{ article.url }}"><h1>{{ article.title }}</h1></a>
        <p class="date"><time datetime="{{ article.date | date: '%F' }}">{{ article.date | date_to_long_string: "ordinal" }}</time></p>
        {% if article.description %}<p>{{ article.description }}</p>{% endif %}
      </article>
    </li>
  {% endfor %}
</ol>
